@charset "utf-8";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');
@import url('https://fonts.googleapis.com/css2?family=Bayon&display=swap');

* {margin:0; padding:0; box-sizing:border-box;}
html{font-size:18px;  position: relative;} 
body{font-size: 20px ;font-family: "Pretendard", sans-serif;position: relative;}
html, body{margin: 0; background: #000;}
ul, ol, li{list-style-type:none}
img, fieldset{border:none;vertical-align: middle}
hr {clear:both;border:none}
a {color:inherit;text-decoration:none; cursor: pointer}
table{border-collapse:collapse}
input, textarea {color:inherit;font-size:inherit;
       font-family:inherit;
       vertical-align: middle}
button {background: none; cursor: pointer; color: inherit; outline: none; border: 0;}

.is-hidden {opacity: 0.2; filter: blur(1px); pointer-events: none;}

header{ position:fixed; left:0; right:0; z-index:40; transition: 1000ms ease; position: fixed; background: transparent;
  border-bottom: 1px solid transparent; padding: 15px 0 10px; 
  transition:background-color .25s ease, border-color .25s ease, backdrop-filter .25s ease,  box-shadow .25s ease,
    opacity 0.5s ease,  visibility 0.5s ease;}

header.header-hidden {opacity: 0; visibility: hidden;pointer-events: none;}
/* 스크롤 후: 배경/라인/블러 적용 */
header.is-scrolled{ background: rgba(0, 0, 0, 0.509);  border-bottom-color: rgba(255, 255, 255, 0.118);
  border-bottom-width: 1.5px; backdrop-filter: blur(3px); 
  box-shadow: 0 10px 30px rgba(255, 255, 255, 0.062);}

.nav{max-width: 1000px; margin:0 auto; display:flex; justify-content:space-between;
  grid-template-columns: 120px 1fr 120px; align-items:center; padding: 0 20px;}
.logo{width:28px;height:30px; z-index: 9999999; }
.logo img{ width:100%;}
.nav .menu{display:flex; gap:50px; padding-top:2px; align-items: center; justify-self:center; transition: 700ms ease;}
.nav .menu a{ font-weight:400; font-size:clamp(12px, 15vw, 16px); letter-spacing:.18em; text-decoration:none;
  color: rgba(255,255,255,.55); transition: 500ms ease, opacity 220ms ease;}
.nav .menu a:hover{color: rgba(255,255,255,.90); opacity: 1;}
.nav .menu a.active,
.menu a[aria-current="page"]{color:#fff;  opacity:1;}
.year{display:flex; justify-content:flex-end; width:25px; height:30px;}
.year img{width:100%;}


/* --- mobile nav btn --- */
header {position: fixed; top: 0; left: 0; right: 0; z-index: 2000; transition: background-color 0.3s ease;}
body.menu-open header { background-color: transparent; backdrop-filter: none; border-bottom: none;}
.mobile-btn { display: none; width: 28px; height: 30px;background: transparent; border: none;cursor: pointer;z-index: 2001;
  padding: 0; justify-content: center; align-items: center;}
.hamburger-lines { position: relative; width: 24px; height: 15px; display: flex; flex-direction: column; justify-content: space-between;}
.hamburger-lines span {display: block; width: 100%; height: 2px; background-color: #fff; 
  transition: transform 0.4s cubic-bezier(0.16, 1, 0.3, 1), opacity 0.4s ease; border-radius:10px;}
.mobile-overlay {position: fixed; top: 0; left: 0; width: 100%; height: 100vh; background-color: #000;
  z-index: 1999; opacity: 0; visibility: hidden; pointer-events: none; transition: opacity 0.4s ease, visibility 0.4s ease;
  display: flex; flex-direction: column; justify-content: flex-start; padding-top: 80px; padding-left: 20px;}
.mobile-nav-list {margin:0; display: flex; flex-direction: column; gap: 10px; align-items: flex-start;}
.mobile-nav-list a {display: block; font-size: 24px; font-weight: 400; color:rgba(137, 137, 137, 0.9);
  text-decoration: none; text-transform: lowercase; padding: 5px 0; opacity: 0; transform: translateY(20px);
  transition: 0.5s cubic-bezier(0.16, 1, 0.3, 1);}
.mobile-nav-list a:hover{color:rgb(255, 255, 255)}
.mobile-overlay.active {opacity: 1; visibility: visible; pointer-events: auto;}
.mobile-overlay.active .mobile-nav-list a {opacity: 1; transform: translateY(0);}
.mobile-btn.active .hamburger-lines span:nth-child(1) {transform: translateY(6px) rotate(47deg);}
.mobile-btn.active .hamburger-lines span:nth-child(2) { display: none;}
.mobile-btn.active .hamburger-lines span:nth-child(3) {transform: translateY(-8px) rotate(-50deg);}


/* wave css */
.waveContainer {position: absolute; left: 0; right: 0; bottom: 0; height: 15vh; min-height: 100px; max-height: 150px;
  z-index: 20; pointer-events: none;}
.waves {position: absolute; width: 100%; height: 100%; left: 0; bottom: 0;}

/* 애니메이션 정의: 부드럽게 한 방향으로 흐름 */
.parallax > use {animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;}
.parallax > use:nth-child(1) {animation: move-right 3s cubic-bezier(.55,.5,.45,.5) infinite;; animation-delay: -2s;}
.parallax > use:nth-child(2) {animation: move-left 7s cubic-bezier(.55,.5,.45,.5) infinite;; animation-delay: -3s;}
.parallax > use:nth-child(3) {animation: move-right 5s cubic-bezier(.55,.5,.45,.5) infinite; animation-duration: 13s;}

@keyframes move-right {
  0% {transform: translate3d(-90px, 0, 0);}
  100% {transform: translate3d(85px, 0, 0);}}

@keyframes move-left {
  0% {transform: translate3d(85px, 0, 0);}
  100% {transform: translate3d(-90px, 0, 0);}}


/*----------------------------- nav responsive /----------------------------- */
 
/* 모바일 대응 */
@media (max-width: 768px) {
  .waveContainer {height: 60px; min-height: 60px;  }}
  
@media (max-width: 700px) {
  .nav .menu {display: none;}
  .year .year-img {display: none;}
  .mobile-btn {display: flex;}
  .nav {padding: 0 20px;justify-content: space-between;  align-items:center;}}

@media (max-width: 600px){
  header{position: fixed; top: 0; z-index: 9999;}      
  header::before{ content:""; position:absolute; inset:0; background: rgba(0,0,0,0.35);
    backdrop-filter: blur(6px); z-index:-1;}}
