@charset "utf-8";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');
@import url('https://fonts.googleapis.com/css2?family=Bayon&display=swap');

* {margin:0; padding:0; box-sizing:border-box;}
html{font-size:18px;  position: relative;} 
     body{font-size: 20px ;font-family: "Pretendard", sans-serif;
          color:#ffffff; position: relative;}
ul, ol, li{list-style-type:none}
img, fieldset{border:none;vertical-align: middle}
hr {clear:both;border:none}
a {color:inherit;text-decoration:none; cursor: pointer}
table{border-collapse:collapse}
input, textarea {color:inherit;font-size:inherit;
       font-family:inherit;
       vertical-align: middle}
button {
  background: none;
  cursor: pointer;
  color: inherit;
  outline: none;
  border: 0; 
}
/* pop-up시 사라지는 효과 */
.is-hidden {
    opacity: 0.2 !important;      /* 강제로 투명하게 */
    filter: blur(1px);          /* 배경 블러 효과 */
    pointer-events: none;       /* 클릭 방지 */
}

/* header 공통코드*/
header{
  position:fixed;
  top:0; left:0; right:0;
  z-index:40;
  transition: 1000ms ease;
  position: fixed;              /* 상단 고정 */
  background: transparent;
  border-bottom: 1px solid transparent;
  padding: 15px 0 10px;
  transition:
    background-color .25s ease,
    border-color .25s ease,
    backdrop-filter .25s ease,
    box-shadow .25s ease,
    opacity 0.5s ease,  /* pop-up오픈시효과 */
    visibility 0.5s ease; /* pop-up오픈시효과  */
}

/* 헤더를 숨기는 클래스 */
header.header-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* 스크롤 후: 배경/라인/블러 적용 */
header.is-scrolled{
  background: rgba(0, 0, 0, 0.509);
  border-bottom-color: rgba(255, 255, 255, 0.118);
  border-bottom-width: 1.5px;
  backdrop-filter: blur(3px);
  box-shadow: 0 10px 30px rgba(255, 255, 255, 0.062);
}

.nav{
  max-width: 1000px;
  margin:0 auto;
  display:flex;
  justify-content:space-between;
  grid-template-columns: 120px 1fr 120px; /* 좌/중/우 */
  align-items:center;                     /* 세로 가운데 */
  padding: 0 20px;
 
}

.logo{width:28px;height:30px; }
.logo img{ width:100%;}

.nav .menu{
  display:flex;
  gap:50px;
  padding-top:2px;
  align-items: center;
  justify-self:center;
  transition: 1000ms ease;
}

.nav .menu a{
  font-weight:400;
  font-size:16px;
  letter-spacing:.18em;
  text-decoration:none;
  color: rgba(255,255,255,.55);
  /* ✅ hover 시 부드럽게 */
  transition: color 500ms ease, opacity 220ms ease;
}

.nav .menu a:hover{
  color: rgba(255,255,255,.90);
  opacity: 1;
}

/* HOME가 열린 상태(활성)면 항상 흰색 고정 
.menu a.active{
  color: rgba(255,255,255,100);
} 
}*/

.nav .menu a.active,
  .menu a[aria-current="page"]{
  color:#fff;
  opacity:1;}


.year{
 display:flex;
  justify-content:flex-end;
    width:25px; height:30px; 
}

.year img{width:100%;}

    /* 아래로 갈수록 블랙으로 페이드 */
    .waveFade{
      position:absolute;
      inset:0;
      background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 60%, #000 100%);
      z-index:2;
    }

    .waves{
      position:absolute;
      left:0; bottom:0;
      width:100%;
      height:100%;
      z-index:1;
      display:block;
    }

    /* SVG use 애니메이션 안정화 */
    .waves use{
      transform-box: fill-box;
      transform-origin: center;
      will-change: transform;
    }

    /* 두 물결이 엇갈리게: 서로 반대 방향 + 속도 차 + 약간 y 오프셋 */
    .wave1{
      fill: rgba(255,255,255,.50);
      animation: drift-left 4s cubic-bezier(.55,.5,.45,.5) infinite;
    }
    .wave2{
      fill: rgba(255,255,255,.22);
      animation: drift-right 9s cubic-bezier(.55,.5,.45,.5) infinite;
    /*   animation-delay:-s; 엇갈림(위상차) */
    }

    @keyframes drift-left{
      0%   { transform: translate3d(-90px, 0, 0); }
      100% { transform: translate3d(85px, 0, 0); }
    }
    @keyframes drift-right{
      0%   { transform: translate3d(85px, 0, 0); }
      100% { transform: translate3d(-90px, 0, 0); }
    }


 /*----------------------------- nav responsive /----------------------------- */
@media screen and (max-width: 650px){
/* responsive (header 공통) */
  header{padding:16px 0 0; }
  .menu{padding: 0 30px;gap: 30px;}
  .menu a{font-size: 15px;}
  .nav {padding-bottom: 10px}
}

