@charset "utf-8";
*{ box-sizing:border-box; }
html, body{ height:auto; }  
body{overflow-x:hidden; overflow-y:auto; -webkit-overflow-scrolling: touch;}

:root{--bg:#000; --white:#fff; --navText: rgba(255,255,255,0.7);}

/* HOME */
body.menu-open{overflow: hidden;height: 100dvh;}
body.no-y-scroll{ overflow: hidden; overscroll-behavior: none; height: 100dvh;}
@supports not (height: 100dvh){body.no-y-scroll{ height: 100vh;}}
#wrap{ width: 100%; position: relative; overflow:hidden;}
.contInner{ width:100%; position:relative; min-height:100vh;}
.page{ min-height:100vh; position:relative; background: radial-gradient(circle at center, #111 0%, #000 70%); overflow:hidden;  }

/* 중앙 타이틀 */
main{ position:relative; z-index:10; display:grid; place-items:center;text-align:center; padding:0px 20px; transition:500ms ease;
margin-top: 120px;}
/* ✅ 모바일에서도 자동으로 줄어드는 반응형 타이포 */
main .inner h1{font-family:'Bayon', sans-serif; font-weight:200; line-height:0.85em; transition:700ms ease;
  z-index:999; font-size: clamp(150px, 15vw, 200px);margin-bottom: 10px;}
main .inner p{font-weight:400; font-size: clamp(14px, 5vw, 20px);  line-height:1.3em; letter-spacing:0.05em; color: rgba(255,255,255,0.7);
  max-width: 600px; margin:0 auto; word-break: keep-all; transition:700ms ease;}
  main .inner .mainhieen{display: none;}


/*-----------------------------HOME responsive-- ------------}---------------*/
@media (max-width: 600px){
 main .inner h1{margin-bottom:10px;}}
@media (max-width: 550px){
 main{margin-top: 180px;}
 main .inner h1{font-size: clamp(140px, 10vw, 180px); margin-bottom:10px;;}
 main .inner p{font-size: clamp(12px, 5vw, 14px); } }
@media (max-width: 500px){
  main{margin-top: 200px;}
  main .inner h1{font-size: clamp(100px, 5vw, 170px); margin-bottom:10px;}}
@media (max-width: 480px){main{margin-top: 250px;}}
@media (max-width: 380px){main .inner h1{font-size: clamp(90px, 5vw, 100px);margin-bottom:5px;} }
